@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-4">
    <h1>About Me</h1>
    <p>Hello! My name is David Fontenot and I’m studying Canfield Business Honors + MIS.</p>
</div>
