@{
    ViewData["Title"] = "Hobbies";
}

<div class="container mt-4">
    <h1>My Hobbies</h1>
    <ul class="list-group">
        <li class="list-group-item">Video games 🎮</li>
        <li class="list-group-item">Twitch 💻</li>
        <li class="list-group-item">Travel ✈️</li>
    </ul>
</div>
